[submodule "Vim/vimfiles/bundle/vim-hybrid-material"]
	path = Vim/vimfiles/bundle/vim-hybrid-material
	url = https://github.com/kristijanhusak/vim-hybrid-material.git
    ignore = all
[submodule "Vim/vimfiles/bundle/vim-sensible"]
	path = Vim/vimfiles/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
    ignore = all
[submodule "Vim/vimfiles/bundle/YouCompleteMe"]
	path = Vim/vimfiles/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
    ignore = all
[submodule "Vim/vimfiles/bundle/vim-pathogen"]
	path = Vim/vimfiles/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
    ignore = all
[submodule "Vim/vimfiles/bundle/vim-airline"]
	path = Vim/vimfiles/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "Vim/vimfiles/bundle/vim-airline-themes"]
	path = Vim/vimfiles/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "Vim/vimfiles/bundle/vim-fugitive"]
	path = Vim/vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "Vim/vimfiles/bundle/vim-gitgutter"]
	path = Vim/vimfiles/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "Vim/vimfiles/bundle/syntastic"]
	path = Vim/vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "Vim/vimfiles/bundle/pep8"]
	path = Vim/vimfiles/bundle/pep8
	url = https://github.com/cburroughs/pep8.git
[submodule "Vim/vimfiles/bundle/nerdtree"]
	path = Vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Vim/vimfiles/bundle/nerdtree-git-plugin.git"]
	path = Vim/vimfiles/bundle/nerdtree-git-plugin.git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
